/* my imports of fonts  */
@font-face {
    font-family: 'verdemoderna' ;
    src: url('./fonts/verdemoderna.woff') format("woff")
}
@font-face {
    font-family: 'contenttext';
    src: url('/fonts/contenttext.woff2') format('woff2')
}

@font-face {
    font-family: 'sub-text';
    src: url('./fonts/subtext.woff2') format('woff2')
}
@font-face {
    font-family: 'headers';
    src: url('./fonts/headers.woff2') format('woff2')
}
@font-face {
    font-family: "icons";
    src: url('./fonts/withicons.woff') format("woff")
}

/* setting my color variables */
:root {
--white: #FFFFFF;
--sub-white: rgba(255,255,255,0.6);
--visited-white: rgba(255, 255, 255, 0.65);
--header-border: rgba(19, 67, 71, 0.9);
--header-background: #2d6360;
--text-black: #325050;
--text-link: #0d8ba1;
--visited-link: #1a5952;
--footer-white: rgba(255, 255, 255, 0.4);
--footer-names: rgba(255, 255, 255, 0.7);
--icon-color: rgba(255, 255, 255, 0.5);
--subfooter-green: #134347;
--design-border: #d9e3dc;
--design-background: #edf4f0;
--design-by-color: #C0CAC3;
--design-author: #616857;
--design-name: #607476;
--links-border: #a0b9ad;
--nav: rgba(255,255,255,0.1);
--backgroundwhite: #fff;
--participationcolor: rgba(138,188,159,0.5);
--headercolor: #2e484c;
--footer-green: #3e5d67;
--hidden-back: #d9e1cd;
--hidden: #a9b995;
}



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
#hidden-div{
    visibility: hidden;
}
.hidden{
    display: none;
}
.zen-container section > p > a{
    color: var(--text-link)
}
/* Starting mobile */
.zen-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.zen-container div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
}
.zen-container header:nth-child(1){
    display: flex;
    flex-direction: column;
    height: 250px;
    background: var(--header-background);
    background-image: 
     url("./images/contours.png"),
     url('./images/noise.png'), 
     url('./images/gridlines.png'), 
     url('./images/huntington.jpg');
    background-size: auto, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    border-top: solid 10px var(--header-border);
    align-items: center;
    grid-column: 1/4; 
    color: var(--white);
    font-family: "headers";
    padding: 0px;
    margin: 0;
    text-align: center;
}
header > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    font-size: 25px;
    grid-column: 1/4;
    padding-left: 26px;
    padding-right: 26px;
}
header > h1 > img{
    width: 60px;
    height: 60px;
    opacity: 0.5;
    padding: 5px;
    margin-bottom: 10px;
}
.sub-header {
    color: var(--sub-white);
    font-family: "sub-text";
    position: absolute;
    top: 100px;
    font-size: 17px;
    margin-top: 30px;
}
/* styling for navigation */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 176px;
    font-family: "headers";
    color: var(--visited-white);
    background: var(--nav);
    width: 100vw;
    line-height: 70px;

}
.view-all {
    padding-left: 20px;
    padding-right: 20px;
    margin: 2px;
    text-align: center;
}
.indicator {
    font-family: "verdemoderna";
    font-size: 40px;
    width: 70px;
    text-align: center;
    right: 0;
    margin: 0;
    padding:0;
    position: absolute;
    right: 0;
}
/* overall styling for content */
p {
    font-family: "contenttext";
    font-weight: lighter;
    font-size: 13.5px;
    margin: 10px 0;
    line-height: 30px;
    color: var(--text-black);
}
h3 {
    font-family: "headers";
    margin-top: 20px;
    font-size: 20px;
    color: var(--headercolor);
}
/* styling for first content section */

.zen-container section:nth-child(3){
    background-color: var(--backgroundwhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/4;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* styling for the participation section  */
.zen-container section:nth-child(4){
    background-color: var(--participationcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    background-image: url('./images/contours-opaque.png'), 
    url('./images/gridlines-opaque.png'), 
    url('./images/bamboo.png');
    background-attachment: scroll, scroll, fixed;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.zen-container section:nth-child(4) > p {
    width: 80%;
}
.zen-container section:nth-child(4) > h3 {
    width: 80%;
}
.zen-container section:nth-child(5){
    background-color: var(--backgroundwhite);
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* styling for footer */
.zen-container footer:nth-child(6){
    display: flex;
    /* height: 130px; */
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    background-color: var(--footer-green);
    background-image: url('./images/contours.png'), url('./images/gridlines.png'), url('./images/noise.png'), url('./images/koi.jpg');
    background-position: 0 0, -5px -25px, 0 0, 0 50%;
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: repeat, repeat,repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    overflow: hidden;
}
.zen-container footer:nth-child(6) > p {
    color: var(--footer-white);
    font-family: 'sub-text';
    font-size: 16px;
    padding:20px 15px;
    line-height: 40px;
    text-align: center;
    margin-top: 0px;
    /* margin-top: 20px; */
}
.zen-container footer:nth-child(6) > p > a {
    color: var(--footer-names);
    font-family: "contenttext"
}
.zen-container div:nth-child(7){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: var(--subfooter-green);
    font-family: "verdemoderna";
    font-size: 35px;
    color: var(--icon-color);
    padding: 20px 5px;
    font-weight: 100;
}
#icon > a:visited a:hover {
    color: var(--subfooter-green);
    background-color: var(--nav);
}
/* styling for design list */
.zen-container div:nth-child(8){
    background-color: var(--design-background);
    grid-column: 1/4;
    line-height: 20px;
    font-size: 12px;
    font-family: "sub-text"

}
.zen-container div:nth-child(8) > ul{
    color: var(--design-by-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    text-align: left;
    left: 0;
}
.zen-container div:nth-child(8) > ul > li{
    padding: 20px;
    border-top:solid 1px var(--design-border);
}
.zen-container div:nth-child(8) > ul > li:hover {

}
a.design {
    font-family: "headers";
    color: var(--design-name);
    font-size: 16px;
    display: block;
}
a.name {
    font-family: "contenttext";
    color: var(--design-author);
    font-size: 12px;
}

/* styling for zen resources */
.zen-container div:nth-child(9) {
    background-color: var(--participationcolor);
    background-image: url('./images/bamboo.png');
    color: var(--design-name);
    font-family: 'headers';
    font-size: 16px;
    grid-column: 1/4;

}
.zen-container div:nth-child(9) > ul{
   width: 100%;
   padding: 0px;
   text-align: left;
   left: 0;
}
li.link {
    border-top: solid 1pt var(--links-border);
    position: relative;
    left: 0;
    line-height: 20px;
    padding: 20px;

}

/* media queries */
@media only screen and (min-width: 375px){
    /* styling for footer */
.zen-container footer:nth-child(6){
    justify-content: center;
    align-items: center;
    text-align: center;
}
.zen-container footer:nth-child(6) > p {
    color: var(--footer-white);
    font-family: 'sub-text';
    font-size: 22px;
    padding: 20px 25px;
    text-align: center;
    margin: 0;
}
.zen-container div:nth-child(7){
    padding: 34px;
}
/* styling for design list */
.zen-container div:nth-child(8) > ul{
    color: var(--design-by-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    text-align: left;
    /* left: 0; */
}
.zen-container div:nth-child(8) > ul > li{
    padding: 30px;
    border-top:solid 1px var(--design-border);
    width: 50%;
}
/* styling for links */
.zen-container div:nth-child(9) > ul{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
 }
 li.link {
     border-top: solid 1pt var(--links-border);
     display: block;
     line-height: 20px;
     width: 50%;
     padding: 30px;
 }
 li.link-width {
    width: 100%;
 }
 

@media only screen and (min-width: 500px){
    header > h1 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size: 30px;
    }
    header > h1 > img{
        width: 60px;
        height: 60px;
        opacity: 0.5;
        padding: 20px, 0;
        margin-bottom: 0px;
    }
    .zen-container div:nth-child(7){
        padding: 40px;
    }
   #icon {
        font-size: 45px;
    }
    .zen-container div:nth-child(8) > ul > li{
        margin-left: 0px;
    }
}
@media only  screen and (min-width: 601px){
    .hidden{
        display: inline;
    }
    .file {
        font-family: "headers";
        color:var(--hidden) !important;
    }
    .d {
        font-family: 'verdemoderna';
        color: var(--hidden);
        background-color: var(--hidden-back);
        padding: 3px;

    }
    header > h1 {
        margin-top: 10px;
        font-size: 35px;
        padding-left: 50px;
    }
    header > h1 > img{
        width: 100px;
        height: 100px;
        opacity: 0.5px;
        margin-bottom: 0px;
    }

}


@media only screen and (min-width: 1150px){
    .zen-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;        
    }
    .zen-container header:nth-child(1){
        display: flex;
        text-align: left;
        grid-column: 1/4;
        height: 300px;
    }
    header > h1 {
        font-size: 65px; 
        position: absolute;
        left: 20px;
        top: -20px;
    }
    header > h1 > img {
        width: 170px;
        position: initial;
        margin: 50px;
        height: 170px;
        opacity: .8;

    }
    .sub-header {
        color: var(--sub-white);
        font-family: "sub-text";
        position: absolute;
        top: 100px;
        font-size: 30px;
        margin-top: 60px;
        left: 350px;
    }
        /* styling for navigation */
    nav{
        display: flex;
        width: 33.3%;
        position: absolute;
        top: 10px;
        height: 300px;
        right: 0;
    }
    nav > a {
        background-color:rgba(255,255,255,0.1);
        padding: 0px, 20px;
        margin-right: 150px;
    }
    .view-all{
        margin: 20px;
    }
    .indicator {
        text-align: center;
        /* margin: auto; */
        position: initial;
    }
    .zen-container section:nth-child(3){
        grid-column: 1/3;
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    p {
        font-size: 17px;
        margin: 14px 0px;
        line-height: 30px;
        color: var(--text-black);
        width: 80%;
    }
    h3 {
        font-size: 30px;
        width: 80%;
        padding: 0, 0, 10px;
        color: var(--headercolor);
    }
    .zen-container section:nth-child(4){
        grid-column: 1/3;
        min-width: 100% !important;
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .zen-container section:nth-child(5){
        grid-column: 1/3;
        min-width: 100% !important;
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .zen-container section:nth-child(5) > p {
        width: 80%;
    }
    .zen-container section:nth-child(5) > h3 {
        width: 80%;
    }
    .zen-container footer:nth-child(6){
        grid-column: 1/4;
        height: 320px;
    }
    .zen-container footer:nth-child(6) > p {
        font-size: 33px;
    }
    .zen-container div:nth-child(7) {
        height: 200px;
    }
    #icon{
        font-size: 70px;
    }
    .zen-container div:nth-child(8) {
        grid-column: 3/4;
        grid-row: 2/3;
        padding:0px;
    }
    .zen-container div:nth-child(8) > ul{
        color: var(--design-by-color);
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        padding: 20px;
        font-size: 16px;
        justify-content: space-around;
    }
    .zen-container div:nth-child(8) > ul > li{
        padding: 30px;
        margin-right: 10px;
        line-height: 2em;
        width: 75% !important;
        border-bottom:solid 1px var(--design-border);
        border-top: none;
    }

    a.design {
        font-family: "headers";
        color: var(--design-name);
        font-size: 20px;
        display: block;
    }
    a.name {
        font-family: "contenttext";
        color: var(--design-author);
    }
    #verde{
        border-bottom: none;
    }

    
    /* styling for zen resources */
    .zen-container div:nth-child(9) {
        grid-column: 3/4;
        grid-row: 3/4;
        padding:0px;
    
    }
    .zen-container div:nth-child(9) > ul{
       width: 75% !important;
       display: flex;
       flex-direction: column;
       grid-column: 3/4;
       padding: 20px;
       font-size: 20px;
       justify-content: space-around;
   }
    }
    li.link {
        border-top: solid 1pt var(--links-border);
        position: relative;
        left: 0;
        width: 100%;
        display: block;
        line-height: 20px;
        padding: 20px;
    
    }
    li.link-width {
        width: 100%;
     }

     .zen-container div:nth-child(10){
        grid-column: 3/4;
        grid-row: 4/5;
        visibility: visible;
        background-color: rgba(138, 187, 159, 0.3);
        
    }
    


}
