*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", monaco, monospace;

}
img {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;

}

li {
    list-style-type: none;
    text-align: center;

}
header{
    text-align: center;
    color: red;
    border: ridge white 2pt;
    background-color: lightgreen;

}
h4 {
    color: black;

}

form {
    display: flex;
    justify-content: center;
    text-align: center;


}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}
button {
    display: flex;
    height: 50pt;
    width: 50pt;
    flex-wrap: wrap;
}
#container {
    display:flex;
    justify-items: center;
    height: 150px;
    width: 150 px;
}

footer {
    background-color: lightgoldenrodyellow;
    margin: 2pt;
    position: fixed;
    bottom:0 ;
    width: 100%; 


}
p {
    display: flex;
    flex-direction: row;
    width: 33%;

}
input {
    width: 33%;
    height: 50pt;
}