*{
    margin: 0;
}
.header-container {
    background: no-repeat center center url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size:cover;
    height: 532pt;
    margin-bottom: 50pt;

}
