*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    column-count: 3;
    margin: 10px
}

header {
    font-size: 45px;
    text-align: center;
    display: block;
    border-bottom: 10px solid;  
    column-span: all;
    background-color: lightgray;
    margin: 10px;

}

li {
    display: inline;
    text-align: center;
    line-height: 25px;
    padding: 50px;
    font-size: 30px;
}
nav {
    border-bottom: dashed;
    column-span: all;

}

article > h1 {
    text-align: center;
    font-style: italic;
}

article > p {
    text-indent: 20px;
}

article {
    border: solid .5px;
    padding: 15px;
    width: 33 %
}

aside > h2 {
    border: dotted black;
    text-align: center;
    color: red;
}

p {
    font-weight: bold;
    padding: 10px
}
aside {
    border: solid black;
}

span {
    border: solid black;
    padding: 5px;
    display: block;
    text-align: center;

}

footer {
    border: solid black;
    font-style: italic;
    column-span:all;

}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
