/* main body styling */
* {
    margin: 0;
    box-sizing: border-box;
}



/* styling for the nav bar  */
.nav {
    display: flex;
    flex-direction: column;
    width: 100pt;
    background-color: #1119;
    height: 100vh;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 10pt;
    z-index: 3;
    text-align: center;
}
.nav > a {
    color: white;
    text-decoration: none;
    padding: 10pt;
    width: 100pt;
}
.nav a:hover {
    background-color: #0005;
    width: 100pt;
}
.nav-open {
    left: 0;
}
.nav-closed {
    left: -120pt;
}

.overlay {
    background-color: #0008;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
}
.overlay-open {
    left: 0;
}

.overlay-closed {
    left: -100vw
}

.rotate {
    position: absolute;
    right: 0;
    margin: 10pt; 
    border: 1pt solid black;
    border-radius: 5pt;
    z-index: 1;
    transform: rotate(90deg)
}
.rotate-open {
    transform: rotate(0deg);
}
.rotate-closed {
    transform: rotate(90deg)
}