*{
    margin:0;

}

.main-div{
    margin: 10pt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5pt;
}
.main-div > h1 {
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    padding: 30pt;
    height: 30pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.box-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.box-div > header{ 
}

