body {
    background-color: #111111;
}

h1 {
   color: #E2E80F;
    font-size: 45px;
    text-align: center;
}

p {
    color: #eeeeee;
    font-size: 25px;
    line-height: 30px;

}

.credits {
    text-decoration: underline;
    color: blueviolet;
    cursor: pointer;

}

#film-description {
    font-style: italic;
    font-size: 10px;
}

